{% extends "base.html" %}
{% load static %}
{% block main %}
<header id="masthead" class="site-header site-header-fill">

    <nav id="primary-navigation" class="site-navigation">

        <div class="container-fluid">

            <div class="navbar-header">
                
                <a href={% url 'index' %} class="site-title yellow-text">Business Perfect</a>

            </div><!-- /.navbar-header -->

            <div class="main-menu" id="perfect-navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li >
                        <a href={% url 'index' %}>Home</a></li>
                    <li class="active">
                        <a href={% url 'blog' %}>Blog </a>
                    </li>
                    <li>
                        <a href={% url 'portfolio' %}>Portfolio</a>                                
                    </li>
                    <li>
                        <a href={% url 'contact' %}>Contact</a>
                    </li> 
                </ul><!-- /.navbar-nav -->
            </div><!-- /.navbar-collapse -->
            
        </div>
                  
    </nav><!-- /.site-navigation -->
    
</header><!-- /#masthead -->

<main id="main" class="site-main">

    <section class="site-section-small section-blog">

        <div class="container">

            <div class="text-center">

                <h1 class="section-title-big">Blog</h1>
                <p class="section-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            
            </div>

            <ol class="breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li class="active">Blog</li>
            </ol><!-- /.breadcrumb -->

            <div class="row">

                <div class="col-md-9">

                    <div class="blog-post">

                        <a href="blog-post.html"><img class="img-carousel post-img" src="assets/img/portfolio-1.jpg" alt=""></a>

                        <div class="post-content">

                            <h3><a class="post-title" href="blog-post.html">Is Passion Good For Business?</a></h3>

                                    
                            <p class="section-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            
                        </div><!-- /.post-content -->

                    </div><!-- /.blog-post -->
                    <div class="blog-post">

                        <a href="blog-post.html"><img class="img-carousel post-img" src="assets/img/portfolio-1.jpg" alt=""></a>

                        <div class="post-content">

                            <h3><a class="post-title" href="blog-post.html">Is Passion Good For Business?</a></h3>

                                    
                            <p class="section-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            
                        </div><!-- /.post-content -->

                    </div><!-- /.blog-post -->


                </div>
            </div>
        </div>
        
    </section><!-- /.section-blog -->

    <section class="social-networks">

        <div class="container-fluid">

            <div class="row">

                <a class="white-text black-bg twitter-bg" href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a class="white-text gray-bg facebook-bg" href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a class="white-text black-bg google-plus-bg" href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                <a class="white-text gray-bg message-bg" href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a>

            </div>
            
        </div>
        
    </section><!-- /.social-networks -->

</main><!-- /.site-main -->
{% endblock main %}